  ///////////////////////
 /// GENERAL STYLES ////
///////////////////////

.newsletter_optin {
	.wpcf7-list-item {
		margin-top: 30px;
		@include flexbox(center,flex-end);
		input {
			width: auto !important;
			visibility: hidden;
			display: none;
		}
		.wpcf7-list-item-label {
			font-size: 10px;
			font-weight: 100;
			text-transform: uppercase;
			letter-spacing: 3px;
			line-height: 14px;
			color: $white;
			margin-left: 10px;
			@include max-content(width);
			position: relative;
			cursor: pointer;
		}
		.wpcf7-list-item-label:before {
			content: "";
			height: 14px;
			width: 14px;
			border: 2px solid rgba(255,255,255,0.2);
			display: block;
			position: absolute;
			top: -2px;
			bottom:0;
			left: -25px;
			margin: auto;
			@include transition(0.15s, all, ease-in-out);
		}
		.wpcf7-list-item-label:after {
			content: "\f00c";
			font-family: 'fontawesome';
			color: $white;
			position: absolute;
			top: -2px;
			bottom: 0;
			left: -23px;
			margin: auto;
			font-size: 10px;
			display: block;
			opacity: 0;
			visibility: hidden;
			@include transition(0.15s, all, ease-in-out);

		}
		.wpcf7-list-item-label.checked:after {
			opacity: 1;
			visibility: visible;
		}
		.wpcf7-list-item-label.checked:before {
			border-color: $white;
		}
	}
}
.tilt_container {
	$skew_deg: 5deg;
	@include prefix(transform, skewY(-$skew_deg));
	overflow: hidden;
	position: absolute;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
	
	img { 
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		@include prefix(transform, skewY($skew_deg));
		height: 130%;
		width: 130%;
		object-fit: cover;
	}
}


  ///////////////////////
 /// GENERAL CONTACT ///
///////////////////////

.contact_information {
	@include flexbox(center,space-between);
	@include calc(width,"100% - 200px");
	margin: 0 auto;
	padding: 70px 0 100px;
	max-width: 1250px;
	.map_img {
		width: 600px;
	}
	.information_wrapper {
		.header {
			h2 {
				font-size: 36px;
				font-weight: bold;
				letter-spacing: 1px;
				line-height: 39px;
				margin: 0;	
				margin-left: -2px;
			}
			p {
				font-size: 13px;
				letter-spacing: 1.5px;
				line-height: 19px;
				font-weight: 300;
				margin: 10px 0 0;
			}
		}
		.header:after {
			content: "";
			display: block;
			width: 21px;
			height: 2px;
			background-color: $mainred;
			margin: 15px 0 15px 2px;
		}
		.information {
			h3 {
				font-size: 18px;
				font-weight: bold;
				letter-spacing: 1px;
				line-height: 26px;
				margin: 0;
			}
			p {
				font-size: 13px;
				letter-spacing: 1.5px;
				font-weight: 300;
				line-height: 19px;
				max-width: 75%;
				margin: 10px 0;
			}
		}
	}
}
.social_links {
	position: relative;

	.tilt_wrapper {
		
		@include flexbox(center,center);
		
		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			max-width: 110%;
			min-height: 100%;
			min-width: 100%;
			width: auto;
			height: auto;
		}
		.tilt_content {
			position: relative;
			z-index: 999;
			@include flexbox(center,space-between);
			padding: 175px 0;
			width: 78%;
			.social_follow_container {
				margin: 0;
				box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
				width: 160px;
				height: 160px;
				position: relative;
				background-color: #d8d8d8;
				border-radius: 50%;
				@include easeout(1000ms);
				
				opacity: 1;
				@include prefix(transform, translateY(0px));
				
				.social_logo {
					width: 100%;
					text-align: center;
					text-decoration: none;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					@include flexbox(center,center);
					@include easeout(1000ms);
					
					@include prefix(transform, translateY(0px));
					
					
					i {
						color: $gray;
						font-size: 60px;
						@include transition(0.3s, all, ease-in-out);
					}
					
				}
				.social_follow_btn {
					background-color: $mainred;
					color: $white;
					font-size: 13px;
					text-transform: uppercase;
					letter-spacing: 0px;
					text-align: center;
					padding: 15px 0;
					display: block;
					text-decoration: none;
					@include transition(0.3s, all, ease-in-out);
				}
				
				&.facebook:hover {
					i {
						color: #3b5998;
					}
					a.social_follow_btn {
						background-color: #3b5998;
					}
				}
				&.twitter:hover {
					i {
						color: #1da1f2;
					}
					a.social_follow_btn {
						background-color: #1da1f2;
					}
				}
				&.instagram:hover {
					i {
						color: #405de6;
					}
					a.social_follow_btn {
						background-color: #405de6;
					}
				}
				&.youtube:hover {
					i {
						color: #cd201f;
					}
					a.social_follow_btn {
						background-color: #cd201f;
					}
				}
				
				&.waypoint {
					@include prefix(transform, translateY(20px) rotate(15deg));
					opacity: 0;
					
					.social_logo {
						@include prefix(transform, translateY(20px));
					}
				}
				@for $ii from 1 through 4 {
					&:nth-child(#{$ii}){
						$num : ($ii + 1) * 1.5;
						$delay : 40 * $num;
						transition-delay: #{$delay}ms;
					}
				}
			}
		}
		
	}
	
}
.contact_form {
	background-color: $black;
	padding: 100px 0 70px;
	position: relative;
	
	.general_contact-container {
		position: relative;
		z-index: 999;
		padding-top: 70px;
		
		&.consignment_form {
			width: 100%;
			padding-top: 0;
		}
	}
	form {
		max-width: 955px;
		width: 90%;
		margin: 0 auto;
		p {
			margin: 0;
		}
		.field_row {
			@include flexbox(center, space-between);
			width: 100%;
			
			.field {
				width: 30%;
			}
			
		}
		.field {
			width: 100%;
			position: relative;
			
			&.active {
				.wpcf7-form-control-wrap:after {
					@include prefix(transform,scaleX(1));
				}
			}
			&.active, &.filled_out {
				label {
					@include prefix(transform, translateY(-100%) scale(0.71));
				}
			}
		}
		input, textarea, input:-webkit-autofill, textarea:-webkit-autofill {
			width: 100%;
			background-color: transparent;
			border-radius: 0px;
			border: none;
			border-bottom: 2px solid rgba(255,255,255,0.2);
			resize: none;
			padding: 0 0 4px;
			margin: 0;
			color: $white;
			font-size: 16px;
			font-weight: 500;
			z-index: 99;
			position: relative;
		}
		textarea {
			display: block;
			margin-top: 55px;
			@include transition(0.3s, all, ease-out);
			max-height: 200px;
		}
		.wpcf7-form-control-wrap {
			@include max-content(height);
			display: block;
		}
		.wpcf7-form-control-wrap:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: $white;
			z-index: 99;
			@include prefix(transform, scaleX(0));
			@include easeout(300ms);
		}
		textarea:focus {
			outline: none;
		}
		input[type="submit"] {
			background-color: $mainred;
			color: $white;
			letter-spacing: 3px;
			text-transform: uppercase;
			font-size: 10px;
			font-weight: 100;
			padding: 12px 50px;
			text-decoration: none;
			border-bottom: none;
			@include max-content(width);
			margin: 45px auto 0;
			line-height: 10px;
			display: block;
		}
		label {
			font-size: 14px;
			font-weight: 300;
			line-height: 19px;
			color: $white;
			opacity: 0.44;
			position: absolute;
			top: 4px;
			bottom: auto;
			left: 0;
			margin: auto;
			@include max-content(height);
			@include prefix(transition, 0.2s all ease-out);
			z-index: 1;
			transform-origin: left;
		}
	}
}
.contact_form:after {
	content: "";
	background-color: $black;
	z-index: 1;
	position: absolute;
	top: -50%;
	height: 100%;
	width: 100%;
	display: block;
}

  ///////////////////////
 ///   CONSIGNMENT   ///
///////////////////////
.form_selection_container {
	position: relative;
	z-index: 999999;
	background-color: $white;
	.form_selection_wrapper {
		@include flexbox(center,space-between);
		max-width: 960px;
		margin: 0 auto;
		padding: 55px 0 130px;
		position: relative;
		z-index: 99;
		
		.form_option {
			border-width: 5px;
			border-style: solid;
			padding: 60px 40px;
			width: 45%;
			text-align: center;
			
			h2 {
				font-size: 36px;
				letter-spacing: 1px;
				line-height: 46px;
				color: $black;
				font-weight: bold;	
				margin: 0;
			}
			p {
				font-size: 13px;
				letter-spacing: 0.5px;
				line-height: 30px;
				font-weight: 300;
				color: $black;
				margin: 20px 0 40px;
			}
			div.option_form_trigger {
				font-size: 13px;
				font-weight: 500;
				color: $white;
				letter-spacing: 0;
				line-height: 19px;
				display: block;
				@include max-content(width);
				margin: 0 auto;
				padding: 15px 35px;
				cursor: pointer;
			}
		}
		.option_1 {
			border-color: $mainred;
			
			.option_form_trigger {
				background-color: $mainred;
			}
		}
		.option_2 {
			border-color: $black;
			
			.option_form_trigger {
				background-color: $black;
			}
		}
	}
}
.form_consignment {
	margin-top: 120px;
	padding: 0;
	overflow: visible;
}