.site-footer {
	.featured-posts {
		@include flexbox(center,center);
		
		.feature {
			width: 50%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			display: block;
			text-decoration: none;
			padding: 48px;
			height: 0;
			padding-bottom: 32.7%;
			position: relative;
			.content-wrapper {
				position: relative;
				@include max-content(width);
				z-index: 9999;
				div {
					text-decoration: none;
					color: $white;
					text-transform: uppercase;
				}
				div.featured-heading {
					font-family: $heading-font;
					font-size: 48px;
					line-height: 45px;
					letter-spacing: 2px;
					font-weight: bold;
					display: table-caption; // use this display to establish one word per line while maintaining appropriate content width

				}
				div.featured-link {
					font-family: $body-font;
					letter-spacing: 4px;
					font-size: 13px;
					padding-left: 2px;
					font-weight: 400;
					@include max-content(width);
					margin-top: 2px;
				}
			}
		}
	}
	
	.newsletter-cta {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		padding: 180px 0 220px;
		text-align: center;
		position: relative;
		.content {
			z-index: 9999;
			position: relative;
		}
		h3 {
			color: $white;
			font-weight: bold;
			font-size: 30px;
			margin: 0;
		}
		p {
			font-size: 13px;
			color: $white;
			margin: 0;
			font-weight: 300;
			margin: 5px 0 30px;
		}
		form {
			label {
				visibility: hidden;
				display: none;
			}
			input[type="email"] {
				background-color: $black;
				border-radius: 0px;
				border: none;
				text-align: center;
				font-size: 13px;
				color: $white;
				margin: 0;
				padding: 12px 3px;
				width: 325px;
				border-bottom: 1px solid transparent;
				@include transition(0.15s,all,ease-in-out);
			}
			input:focus {
				border-bottom-color: $mainred; 
			}
			div.sumbit-btn {
				background-image: url('../inc/images/sharrow.png');
				height: 43px;
				width: 43px;
				background-color: $mainred;
				background-size: 35%;
				background-position: center center;
				background-repeat: no-repeat;
				cursor: pointer;
				@include transition(0.25s,all,ease-in-out);
				
			}
			div.submit-btn:hover {
				background-color: $altred;
			}
			div.form-wrap {
				@include flexbox(center,center);
				margin: 0 auto;
			}
		}
	}
	
	.footer-meta {
		background-color: $black;
		padding: 40px 0;
		.container {
			@include flexbox(center,space-between);	
			width: $menu_width;
			margin: 0 auto;
			font-size: 13px;
			font-weight: 300;
			letter-spacing: 1px;
			color: $gray;
			text-decoration: none;
			
			a {
				color: $gray;
				text-decoration: none;
				@include transition(0.25s,all,ease-in-out);
			}
			a:hover {
				color: $overlay_g;
			}
			
			.socials {
				a {
					font-size: 20px;
					margin: 0 12px;
				}
				a:last-child{
					margin-right: 0;
				}
			}
		}
	}
}