* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
body {
	background-color: $white;
}
html {
	background-color: $black;
}
div,p,a,input{
	font-family: $body-font;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $heading-font;
}
.dash-title::after {
	content:"";
	width: 2px;
	height: 180px;
	background-color: $white;
	position: absolute;
	@include skew(-24deg);
	right: -35px;
	top: 0;
	transform-origin: left;
	
}
input:focus {
	outline: none;
}
.main-btn {
	background-color: $mainred;
	color: $white;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 100;
	padding: 10px 30px;
	text-decoration: none;
}

// Image Blur Preloader
.b_image_wrapper {
	background-color: $black;
	.blur {
		@include blur(20px);
		opacity: 0.75;
	}
	img.full_size {
		opacity: 0;
		@include transition(0.5s, all, ease-in-out);
	}
	img.full_size.visible {
		opacity: 1;
	}
}