* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
body {
	background-color: $white;
}
html {
	background-color: $black;
}
div,p,a,input{
	font-family: $body-font;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $heading-font;
}

.dash-title::after {
	content:"";
	width: 200px;
	height: 2px;
	background-color: $white;
	position: absolute;
	@include rotate(114deg);
	right: -270px;
	top: 0;
	transform-origin: left;
	
}
input:focus {
	outline: none;
}