  ///////////////////////
 ////  SEARCH FORM  ////
///////////////////////
.search_form_container {
	z-index: 1;
	* {
		@include easeout(1000ms);
	}
	.search_form_wrapper {
		
		background-color: $black;
		@include prefix( transform, skew(-15deg) scaleX(0) );
		transform-origin: center;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
	}
	form {
	
		div.search-title {
			font-size: 45px;
			margin-bottom: -20px;
			margin-left: -3px;
			color: rgba(255,255,255,0.5);
		}
	}
	input[type="text"] {
		background: transparent;
		border-radius: 0;
		color: $white;
		font-size: 65px;
		border: none;
	// 		border-bottom: 2px solid $gray;
		padding: 10px 0 10px 1px;
		line-height: 1;
		width: 100%;
	}
}


  //////////////////////
 /////  NAV BAR  //////
//////////////////////
.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999999;
	@include easeout(600ms);
	visibility: visible;
	&:after {
			content: "";
			position: absolute;
			top: 0;
			left: -8%;
			width: 116%;
			height: 100%;
			background-color: $black;
			z-index: -1;
			@include prefix(transform, skew(-24deg) scaleX(0));
			@include easeout(600ms);
			opacity: 0.95;
		}
	
	&.sticky {
		
		&:after{
			@include prefix(transform, skew(-24deg) scaleX(1));
		}
		.nav-bar {
			@include prefix(transform, translateY(0px));
		}

	}
	&.hidden {
		visibility: hidden;
		.nav-bar, &:after {
			@include prefix(transform, translateY(-100%));
		}
		a.header-logo, div.search_menu_container  {
			@include prefix(transform, translateY(-30%));	
			
		}
	}
	
	.nav-bar {
		width: $menu_width;
		margin: 0 auto;
		padding: 20px 0;
		@include flexbox(center,space-between);
		@include easeout(600ms);
		@include prefix(transform, translateY(10px));
		z-index: 99;
		position: relative;

		.header-logo {
			width: 163px;
			height: auto;
			@include flexbox(center,center);
			@include easeout(600ms);
			
			img {
				position: relative;
			}
		}
		.search_menu_container {
			@include flexbox(center,center);
			@include easeout(600ms);
			.search {
				font-size: 8px;
				text-transform: uppercase;
				letter-spacing: 3px;
				border: 1px solid rgba(255,255,255,0.5);
				padding: 10px 23px 10px 26px;
				@include max-content(width);
				@include transition(0.3s, all, ease-in-out);
				color: $white;
				font-weight: 300;
				background-color: transparent;
				cursor: pointer;
				margin: 0;
				
				&:hover, &.open {
					background-color: $white;	
					color: $black;
				}
			}
			.search:hover, .search.open {
				
			}
			.menu_trigger {
				width: 34px;
				height: 34px;
				border: 1px solid rgba(255,255,255,0.5);
				margin-left: 16px;
				@include flexbox(center,center);
				cursor: pointer;
				
				.dot-container {
					width: 18px;
					height: 18px;
					@include flexbox(center,space-between);
					flex-wrap: wrap;
					
					.menu-dot {
						width: 3px;
						height: 3px;
						background-color: $white;
						margin: 1.5px;
						display: block;
					}	
				}
			}
		}
	}
}
  /////////////////////
 /// PAGE  HEADERS ///
/////////////////////
.site-header {
	background-color: $black;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	@include flexbox(center,flex-start);
	
	img {
		width: 100%;
		position: absolute;
		left: 0;
		z-index: 9;
		height: 100%;
		object-fit: cover;
	}
	img.top {
		top: 0;
	}
	img.bottom {
		bottom: 0;
	}
	img.center {
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.header-content {
		position: relative;
		z-index: 999;
		margin-left: 20%;
		
		h1 {
			color: $white;
			font-size: 64px;
			letter-spacing: 3px;
			line-height: 61px;
			text-transform: uppercase;
			display: table-caption;
			text-indent: -50px;
			margin: 0;
			position: relative;
			
			span {
				display: block;
			}
		}
		p {
			color: $white;
			font-size: 16px;
			letter-spacing: 1.8px;
			line-height: 24px;
			margin: 0;
			font-weight: 300;
			margin-left: 20px;
			max-width: 350px;
		}
	}
	.header-content.search {
		p {
			font-family: $heading-font;
			font-size: 48px;
			margin: 10px 0 0 30px;
			line-height: 45px;
			border-bottom: 2px solid $white;
			@include max-content(width);
			font-weight: bold;
			padding-left: 3px;
			padding-bottom: 3px;
		}
	}
	.header-content.home {
		margin: 0 auto;
		h1 {
			font-size: 36px;
			letter-spacing: 2px;
			display: block;
			text-indent: 0px;	
			margin-bottom: 25px;
		}
		a {
			display: block;
			@include max-content(width);
			margin: 0 auto;
		}
	}
	.header-content.e404 {
		a {
			color: $white;
			font-weight: 800;
			font-style: italic;
			text-decoration: none;
		}
	} 
}
.site-header.main, .site-header.single {
	.header-content:not(.home):before {
		content: "";
		position: absolute;
		background-color: $overlay_w;
		height: 292px;
		width: 190px;
		left: 0;
		@include translate_skew(-77px,-10px,0,-15deg);
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
.site-header.single {
	overflow: visible;
	position: relative;
	margin-bottom: 100px;
	.featured-media-wrapper {
		margin: auto;
		height: 0;
		overflow: hidden;
		z-index: 9;
		position: absolute;
		overflow: hidden;
		bottom: -100px;
		left: 0;
		right: 0;
		
		video {
			z-index: 99;
		}
		img,video {
			margin: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		img.top, video.top {
			top: 0;
		}
		img.center, video.center {
			top: 0;
			bottom: 0;
			margin: auto;
		}
		img.bottom, video.bottom {
			bottom: 0;
		}
		/*
&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $black;
			opacity: 0.4;
			z-index: 9;
		}
*/
	}
	img.blueprint {
		width: 85%;
		position: absolute;
		top: 113px;
		left: 0;
		right: 0;
		margin: auto;
		bottom: auto;
	}
	.header-content {
		margin-top: 100px;
		margin-left: 15%;
		h1 {
			text-indent: 0;
			max-width: 500px;
			display: block;
		}
		p.price {
			letter-spacing: 4.8px;
			padding: 13px 30px;
			@include max-content(width);
			font-size: 13px;
			margin-left: 50px;
			z-index: 999;
			position: relative;
			margin-top: 20px;
		}
	}
}
.site-header.single.offerings {
	.featured-media-wrapper {
		width: $menu_width;
		padding-bottom: 53.84%;

	}
}
.site-header.single.collection, .site-header.single {
	margin-bottom: 45vh;
	.featured-media-wrapper {
		width: 78%;
		overflow: visible;
		padding-bottom: 53.38%;
		bottom: -40vh;
		.header-content {
			margin-top: 0;
			@include translate(0,-48px,0);
		}
	}
}
body.page-template-media_house {
	.site-header {
		.main-btn {
			z-index: 9999;
			position: absolute;
			bottom: 0;
			left: 0;
			@include prefix(transform, translateY(180%));
			cursor: pointer;
			font-weight: 500;
		}
	}
}
.scroll_hint_container {
	position: absolute;
	bottom: 20px;
	left: 20%;
	z-index: 9;
	width: 10px;
	
	.dot {
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: $white;
		display: block;
		margin: 10px auto;
		opacity: 0;
		@include transition(0.55s, opacity, ease-in-out);
		
		&.visible {
			opacity: 1;
		}
	}
	.dot-1 {
/*
		height: 6px;
		width: 6px;
*/
	}
	.dot-2 {
/*
		height: 8px;
		width: 8px;
*/
		transition-delay: 180ms;
	}
	.dot-3 {
		transition-delay: 250ms;
	}
}