  //////////////////////
 ////  PRE LOADER  ////
//////////////////////
#pre_loader {
	$outTime: 1800ms;
	$inTime: 600ms;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    @include flexbox(center,center);
    
    .ribbon {
	    
	    position: absolute;
	    top: 0;
	    left: -25vw;
	    width: 150vw;
	    height: 100%;
	    @include prefix(transform, skew(-24deg) scaleX(1));
	    background-color: $white;
	    display: block;
	    z-index: 9;
		@include easeout($inTime);
		opacity: 1;
		
    }
    img.gif {
	    position: absolute;
	    top: 100px;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    width: 150px;
	    opacity: 0;
    }
    img {
	    width: 250px;
	    height: auto;
	    @include easeout($inTime);
	    z-index: 9;
	    margin-top: -20px;
	    @include prefix(transform, translateY(0px));
	    opacity: 1;
	    backface-visibility: hidden;
    }
    
    &.off {
	    visibility: hidden;
	    
	    .ribbon {
		    @include prefix(transform, skew(-24deg) scaleX(1));
		    opacity: 0;
		    @include easeout($outTime);
		    transition-delay: 300ms;
	    }
	    img {
		    @include prefix(transform, translateY(10px));
		    opacity: 0;
		    @include easeout($outTime);
	    }
    }

}
  ///////////////////////
 ////  SEARCH FORM  ////
///////////////////////
.search_form_container {
	z-index: 1;
	* {
		@include easeout(1000ms);
	}
	.search_form_wrapper {
		
		background-color: $black;
		@include prefix( transform, skew(-15deg) scaleX(0) );
		transform-origin: center;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99;
	}
	form {
	
		div.search-title {
			font-size: 45px;
			margin-bottom: -20px;
			margin-left: -3px;
			color: rgba(255,255,255,0.5);
		}
	}
	input[type="text"] {
		background: transparent;
		border-radius: 0;
		color: $white;
		font-size: 65px;
		border: none;
	// 		border-bottom: 2px solid $gray;
		padding: 10px 0 10px 1px;
		line-height: 1;
		width: 100%;
	}
}


  //////////////////////
 /////  NAV BAR  //////
//////////////////////
.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999999998;
	@include easeout(600ms);
	visibility: visible;
	&:after {
			content: "";
			position: absolute;
			top: 0;
			left: -8%;
			width: 116%;
			height: 100%;
			background-color: $black;
			z-index: -1;
			@include prefix(transform, skew(-24deg) scaleX(0));
			@include easeout(600ms);
			opacity: 0.95;
		}
	
	&.sticky {
		
		&:after{
			@include prefix(transform, skew(-24deg) scaleX(1));
		}
		.nav-bar {
			@include prefix(transform, translateY(0px));
		}
		.header_meta {
			@include prefix(transform, translateY(19px) !important);
		}

	}
	&.hidden {
		visibility: hidden;
		.nav-bar, &:after {
			@include prefix(transform, translateY(-100%));
		}
		a.header-logo, div.search_menu_container  {
			@include prefix(transform, translateY(-30%));	
			
		}
		.header_meta {
			@include prefix(transform, translateY(-50px) !important);
		}
	}
	
	.nav-bar {
		width: $menu_width;
		margin: 0 auto;
		padding: 20px 0;
		@include flexbox(center,space-between);
		@include easeout(600ms);
		@include prefix(transform, translateY(10px));
		z-index: 99;
		position: relative;

		.header_meta {
					
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    @include max-content(height);
		    @include max-content(width);
		    @include prefix(transform, translateY(-150px));
		    @include easeout(600ms);
		    text-align: center;
		    
		    p.title {
			    
			    color: white;
			    font-size: 20px;
			    margin: 0;
			    text-align: center;
			    margin-bottom: 6px;

		    }
		    p.price {
			    
			    margin: 0;
				display: inline-block;
			    color: white;
			    background-color: $mainred;
			    padding: 2px 20px;

		    }

		}
		.header-logo {
			width: 163px;
			height: auto;
			@include flexbox(center,center);
			@include easeout(600ms);
			
			img {
				position: relative;
			}
		}
		.search_menu_container {
			@include flexbox(center,center);
			@include easeout(600ms);
			.search {
				font-size: 8px;
				text-transform: uppercase;
				letter-spacing: 3px;
				border: 1px solid rgba(255,255,255,0.5);
				padding: 10px 23px 10px 26px;
				@include max-content(width);
				@include transition(0.3s, all, ease-in-out);
				color: $white;
				font-weight: 300;
				background-color: transparent;
				cursor: pointer;
				margin: 0;
				
				&:hover, &.open {
					background-color: $white;	
					color: $black;
				}
			}
			.search:hover, .search.open {
				
			}
			.menu_trigger {
				width: 34px;
				height: 34px;
				border: 1px solid rgba(255,255,255,0.5);
				margin-left: 16px;
				@include flexbox(center,center);
				cursor: pointer;
				
				.dot-container {
					width: 18px;
					height: 18px;
					@include flexbox(center,space-between);
					flex-wrap: wrap;
					
					.menu-dot {
						width: 3px;
						height: 3px;
						background-color: $white;
						margin: 1.5px;
						display: block;
					}	
				}
			}
		}
	}
}
  /////////////////////
 /// PAGE  HEADERS ///
/////////////////////
	$timing: 1000ms;
.site-header {
	background-color: $black;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	@include flexbox(center,flex-start);
	
	img {
		width: 100%;
		position: absolute;
		left: 0;
		z-index: 9;
		height: 100%;
		object-fit: cover;
	}
	img.top {
		top: 0;
	}
	img.bottom {
		bottom: 0;
	}
	img.center {
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.header-content {
		position: relative;
		z-index: 999;
		margin-left: 20%;
	
		
		&.off {
			&:before {
				@include prefix(transform, translate3d(-77px, -10px,0) skew(-15deg) scaleX(0) !important);
			}
			h1 {
				@include prefix(transform, translateY(3px));
				opacity: 0;
			}
			p {
				@include prefix(transform, translateY(8px));
				opacity: 0;
			}
			a {
				@include prefix(transform, translateY(10px) !important);
				opacity: 0 !important;
			}
		}
		h1 {
			color: $white;
			font-size: 64px;
			letter-spacing: 3px;
			line-height: 61px;
			text-transform: uppercase;
			display: table-caption;
			text-indent: -50px;
			margin: 0;
			position: relative;
			@include easeout(1200ms);
			@include prefix(transform, translateY(0));
			transition-delay: 600ms;
			opacity: 1;
			
			span {
				display: block;
			}
		}
		p {
			color: $white;
			font-size: 16px;
			letter-spacing: 1.8px;
			line-height: 24px;
			margin: 0;
			font-weight: 300;
			margin-left: 20px;
			max-width: 350px;
			@include easeout(1200ms);
			@include prefix(transform, translateY(0));
			transition-delay: 600ms;
			opacity: 1;
		}
		a {
			@include prefix(transform, translateY(0px));
			opacity: 1;
			@include easeout(1200ms);
			transition-delay: 900ms;
		}
	}
	.header-content.search {
		p {
			font-family: $heading-font;
			font-size: 48px;
			margin: 10px 0 0 30px;
			line-height: 45px;
			border-bottom: 2px solid $white;
			@include max-content(width);
			font-weight: bold;
			padding-left: 3px;
			padding-bottom: 3px;
		}
	}
	.header-content.home {
		
		.sub_heading {
			position: absolute;
		    /* top: 0; */
		    bottom: -20px;
		    margin: auto;
		    @include max-content(height);
		    @include prefix(transform, translateX(225px));
		    
		    p {
			    margin: 0;
		    }
		    a {
			    margin: 10px 0 0 0;
		    }
		}
		h1 {
	
			text-indent: 0px;	
		}
		a {
			display: block;
			@include max-content(width);
			margin: 0 auto;
			z-index: 999;
		}
	}
	.header-content.e404 {
		a {
			color: $white;
			font-weight: 800;
			font-style: italic;
			text-decoration: none;
		}
	} 
}
.site-header.main, .site-header.single {
	.header-content:before { // :not(.home)
		content: "";
		position: absolute;
		background-color: $overlay_w;
		height: 292px;
		width: 190px;
		left: 0;
		@include prefix(transform, translate3d(-77px, -10px,0) skew(-15deg) scaleX(1));
		top: 0;
		bottom: 0;
		margin: auto;
		@include easeout($timing);
		transform-origin: left;
	}
}
.site-header.single {
	overflow: visible;
	position: relative;
	margin-bottom: 100px;
	.featured-media-wrapper {
		margin: auto;
		height: 0;
		overflow: hidden;
		z-index: 9;
		position: absolute;
		overflow: hidden;
		bottom: -100px;
		left: 0;
		right: 0;
		&:before {
			 content: "";
		}
		
		video {
			z-index: 99;
		}
		img,video {
			margin: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		img.top, video.top {
			top: 0;
		}
		img.center, video.center {
			top: 0;
			bottom: 0;
			margin: auto;
		}
		img.bottom, video.bottom {
			bottom: 0;
		}
		/*
&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $black;
			opacity: 0.4;
			z-index: 9;
		}
*/
	}
	img.blueprint {
		width: 85%;
		position: absolute;
		top: 113px;
		left: 0;
		right: 0;
		margin: auto;
		bottom: auto;
	}
	.header-content {
		margin-top: 100px;
		margin-left: 15%;
		h1 {
			text-indent: 0;
			max-width: 500px;
			display: block;
		}
		p.price {
			letter-spacing: 4.8px;
			padding: 13px 30px;
			@include max-content(width);
			font-size: 13px;
			margin-left: 50px;
			z-index: 999;
			position: relative;
			margin-top: 20px;
		}
	}
}
.site-header.single.offerings {
	.featured-media-wrapper {
		width: $menu_width;
		padding-bottom: 53.84%;

	}
}
.site-header.single.collection, .site-header.single {
	margin-bottom: 20vh;
	.featured-media-wrapper {
		width: 78%;
		overflow: visible;
		padding-bottom: 53.38%;
		bottom: -20vh;
		.header-content {
			margin-top: 0;
			@include translate(0,-48px,0);
		}
	}
}
body.page-template-media_house {
	.site-header {
		.main-btn {
			z-index: 9999;
			position: absolute;
			bottom: 0;
			left: 0;
			@include prefix(transform, translateY(180%));
			cursor: pointer;
			font-weight: 500;
		}
	}
}
.scroll_hint_container {
	position: absolute;
	bottom: 20px;
	left: 20%;
	z-index: 9;
	width: 10px;
	
	.dot {
		height: 10px;
		width: 10px;
		border-radius: 50%;
		background-color: $white;
		display: block;
		margin: 10px auto;
		opacity: 0;
		@include transition(0.55s, opacity, ease-in-out);
		
		&.visible {
			opacity: 1;
		}
	}
	.dot-1 {
/*
		height: 6px;
		width: 6px;
*/
	}
	.dot-2 {
/*
		height: 8px;
		width: 8px;
*/
		transition-delay: 180ms;
	}
	.dot-3 {
		transition-delay: 250ms;
	}
}