body.page-template-home {
	.home_cta_container {
		.home_cta_wrapper {
			@include flexbox(center,space-between);
			background-color: $black;
			flex-direction: row-reverse;
			position: relative;
			
			.home_cta_image {
				width: 55.55%;
				z-index: 10;
				img {
					display: block;
				}
			}
			.home_cta_content {
				width: 44.44%;
				z-index: 9999;
				position: relative;
				h3 {
					font-size: 36px;
					font-weight: bold;
					color: $white;
					letter-spacing: 1px;
					line-height: 46px;
					margin: 0;
					text-align: center;
				}
				p {
					text-transform: uppercase;
					font-weight: 500;
					font-size: 12px;
					color: $white;
					letter-spacing: 3.5px;
					line-height: 17px;
					text-align: center;
					max-width: 300px;
					margin: 0px auto 25px;
				}
				a.main-btn {
					margin: 35px auto 0;
					display: block;
					@include max-content(width);
				}
				.featured_posts	{
					@include flexbox(center,space-between);
					@include max-content(width);
					margin: 0 auto;
					
					a {
						$skew : 15deg;
						width: 120px;
						height: 175px;
						@include prefix(transform, skewX(-$skew));
						position: relative;
						margin: 0 10px;
						overflow: hidden;
						
						img {
							@include prefix(transform, skewX($skew) translateX(-25%));
							position: absolute;
							height: 100%;
							width: auto;
							top: 0;
							left: 0;
							right: 0;
							margin: auto;
							max-width: none;
						
							
						}
					}
				}
			}
			.slant, .corners {
				@include calc(height,"100% + 34px");
				width: 100%;
				position: absolute;
				bottom: -10px;
				left: 0;
				
				margin: auto;
				@include prefix(transform, skewX(-23deg) translateX(-47%));
				background-color: $black;
				z-index: 999;

				box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.50);

			}
			.corners {
				
				box-shadow: none;
				background-color: transparent;
				z-index: 9;
				
				&:after {
					content: "";
					height: 10px;
					position: absolute;
					bottom: 0;
					right: -14px;
					width: 100%;
					background-color: #101010;
					@include prefix(transform, skewX(-55deg));
					z-index: 1;
				}
				&:before {
					content: "";
					height: 24px;
					position: absolute;
					top: 0;
					right: -11px;
					width: 100%;
					background-color: #101010;
					@include prefix(transform, skewX(43deg) );
					z-index: 1;
				}
			}
			
			
		}
	}
	.sub__heading {
		.sub__heading-content {
			p {
				line-height: 19px;
			}
		}
	}
	.social_cta {
		padding: 135px 0;
		background-color: $black;
		position: relative;
		overflow: hidden;
		display: block;
		text-decoration: none;
		
		&.waypoint {
			h3 {
				span {
					@include prefix(transform, translateY(15px));
					opacity: 0;
				}
			}
			p {
				opacity: 0;
			}
		}
		
		h3 {
			font-weight: normal;
			font-style: italic;
			font-size: 64px;
			color: #fefefe;
			text-align: center;
			letter-spacing: 1px;
			padding-left: 1px;
			margin: 0;
			z-index: 9;
			position: relative;
	
			span {
				@include prefix(transform, translateY(0px));
				opacity: 1;
				@include easeout(500ms);
				display: inline-block;
				
				@for $ii from 1 through 100 {
					&:nth-child(#{$ii}){
						$num : ($ii + 1) * 0.65;
						$delay : 40 * $num;
						transition-delay: #{$delay}ms;
					}
				}
			}
	
		}
		p {
			font-size: 12px;
			letter-spacing: 0.2px;
			@include max-content(width);
			margin: 20px auto 0;
			color: #fefefe;
			text-transform: uppercase;
			font-weight: 300;
			opacity: 1;
			@include easeout(3000ms);
			z-index: 9;
			position: relative;
		}
		span.background_overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $black;
			z-index: 1;
		}
		.featured_media {
			img,video {
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 0;
				object-fit: cover;
				top: 0;
			}
			
		}
	}
}