body.page-template-home {
	&.hide_header {
		.nav-wrapper {
			z-index: 999;
		}
	}
			
	.scroll_hint_container {
		bottom: 50px;
	}
	.home_shade {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black;
		@include easeout(1400ms);
		@include prefix(transform, translateY(0px));
		z-index: 9999;
		
		&.off {
			@include prefix(transform, translateY(-100%));
		}
	}
	.home_cta_container {
		.home_cta_wrapper {
			@include flexbox(center,space-between);
			background-color: $black;
			flex-direction: row-reverse;
			position: relative;
			
			.home_cta_image {
				width: 65%;
				z-index: 10;
				position: relative;
				overflow: hidden;
				padding-bottom: 37vw;
				img {
					display: block;
				}
				
				img.feat_full {
					position: absolute;
					top: 0;
					@include prefix(transform, translateX(-100%));
					@include easeout(1200ms);
					width: 100%;
					height: 100%;
					object-fit: cover;
					
					&.right {
						object-position: right center;
					}
					&.left {
						object-position: left center;
					}
					&.center {
						object-position: center center;
					}
					
					&.feat-visible {
						@include prefix(transform, translateX(0px));
					}
					&.remove_stage {
						@include prefix(transform, translateX(10%));
					}

				}
				h2 {
					position: absolute;
					text-transform: uppercase;
					bottom: 45px;
					right: 0;
					@include max-content(height);
					margin: 0 45px 0 0;
					font-size: 70px;
					line-height: 67px;
					color: $white;
					display: table-caption;
					text-align: right;

					
					span {
						display: block;
						max-width: 100%; 
						text-align: right;
						margin-left: auto;
						opacity: 0;
						@include easeout(600ms);
						@include prefix(transform, translateX(-55px));
						visibility: hidden;
						@for $ii from 1 through 3 {
							&:nth-child(#{$ii}){
								$num : ($ii + 1) * 0.65;
								$delay : 40 * $num;
								transition-delay: #{$delay}ms;
							}
						}
					}
					&.feat-visible {
				
							span {
								opacity: 1;
								@include prefix(transform, translateX(0px));
								visibility: visible;
							}
						
					}
				}
			}
			.home_cta_content {
				width: 35%;
				z-index: 9999;
				position: relative;
				@include prefix(transform, translateX(25px));
				
				h3 {
					font-size: 36px;
					font-weight: bold;
					color: $white;
					letter-spacing: 1px;
					line-height: 46px;
					margin: 0;
					text-align: center;
				}
				p {
					text-transform: uppercase;
					font-weight: 500;
					font-size: 12px;
					color: $white;
					letter-spacing: 3.5px;
					line-height: 17px;
					text-align: center;
					max-width: 250px;
					margin: 0px auto 25px;
				}
				.main-btn {
					margin: 35px auto 0;
					display: block;
					@include max-content(width);
				}
/*
				.featured_posts	{
					@include flexbox(center,space-between);
					@include max-content(width);
					margin: 0 auto;
					
					a {
						$skew : 15deg;
						width: 120px;
						height: 175px;
						@include prefix(transform, skewX(-$skew));
						position: relative;
						margin: 0 10px;
						overflow: hidden;
						
						img {
							@include prefix(transform, skewX($skew) translateX(-25%));
							position: absolute;
							height: 100%;
							width: auto;
							top: 0;
							left: 0;
							right: 0;
							margin: auto;
							max-width: none;
						
							
						}
					}
				}
*/
				.featured_posts {
					position: relative;
				}
				.featured_post {
					color: $white;
					text-decoration: none;
					font-size: 18px;
					opacity: 0;
					@include easeout(600ms);
					@include prefix(transform, translateY(5px));
					visibility: hidden;
					display: block;
					margin: auto;
					text-align: center;
					
					&:not(:first-child){
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
					}
					
					&.visible {
						opacity: 1;
						@include prefix(transform, translateY(0px));
						visibility: visible;
					}
					
					
					span {
						margin: 0 5px;
					}
				}
				
				.feat_post_nav {
					@include flexbox(center, space-between);
					@include max-content(width);
					margin: 10px auto 0;
					
					.feat_bubble {
						height: 8px;
						width: 8px;
						background-color: $gray;
						cursor: pointer;
						margin: 0 4px;
						@include easeout(500ms);
						border-radius: 4px;
						
						&.active, &:hover {
							background-color: $white;
						}
					}
				}
			}
			.slant, .corners {
				@include calc(height,"100% + 34px");
				width: 100%;
				position: absolute;
				bottom: -10px;
				left: 0;
				
				margin: auto;
				@include prefix(transform, skewX(-23deg) translateX(-56%));
				background-color: $black;
				z-index: 999;

				box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.50);

			}
			.corners {
				
				box-shadow: none;
				background-color: transparent;
				z-index: 9;
				
				&:after {
					content: "";
					height: 10px;
					position: absolute;
					bottom: 0;
					right: -14px;
					width: 100%;
					background-color: #101010;
					@include prefix(transform, skewX(-55deg));
					z-index: 1;
				}
				&:before {
					content: "";
					height: 24px;
					position: absolute;
					top: 0;
					right: -11px;
					width: 100%;
					background-color: #101010;
					@include prefix(transform, skewX(43deg) );
					z-index: 1;
				}
			}
			
			
		}
	}
	.sub__heading {
		.sub__heading-content {
			p {
				line-height: 19px;
			}
		}
	}
	.social_cta {
		padding: 135px 0;
		background-color: $black;
		position: relative;
		overflow: hidden;
		display: block;
		text-decoration: none;
		
		&.waypoint {
			h3 {
				span {
					@include prefix(transform, translateY(15px));
					opacity: 0;
				}
			}
			p {
				opacity: 0;
			}
		}
		
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include prefix(object-fit, cover);
			@include prefix(object-position, center center);
			display: none;
		}
		
		h3 {
			font-weight: normal;
			font-style: italic;
			font-size: 64px;
			color: #fefefe;
			text-align: center;
			letter-spacing: 1px;
			padding-left: 1px;
			margin: 0;
			z-index: 9;
			position: relative;
	
			span {
				@include prefix(transform, translateY(0px));
				opacity: 1;
				@include easeout(500ms);
				display: inline-block;
				
				@for $ii from 1 through 100 {
					&:nth-child(#{$ii}){
						$num : ($ii + 1) * 0.65;
						$delay : 40 * $num;
						transition-delay: #{$delay}ms;
					}
				}
			}
	
		}
		p {
			font-size: 12px;
			letter-spacing: 0.2px;
			@include max-content(width);
			margin: 20px auto 0;
			color: #fefefe;
			text-transform: uppercase;
			font-weight: 300;
			opacity: 1;
			@include easeout(3000ms);
			z-index: 9;
			position: relative;
		}
		span.background_overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $black;
			z-index: 1;
		}
		.featured_media {
			img,video {
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: 0;
				object-fit: cover;
				top: 0;
			}
			
		}
	}
}