// styles for the Archive template (run through index.php)

// Variables
	$article_width: 65%;

body.blog {
	#content {
		background-color: $black; // need to match the section.archive-wrapper background so that we can apply a margin to the section, giving some vertical bleed to the background image
	
		section.archive-wrapper {
			background-color: $black;
			padding: 55px 0;
			background-repeat: repeat-y;
			background-size: 76%;
			background-position: center top;
			margin: 30px 0;
			
			// Using a flexbox will remove potential margin collapses on this wrapper's child elements
			@include flexbox(center,center);
			flex-wrap: wrap;
		
		
			  //////////////////
			 //  NO CONTENT  //
			//////////////////
			.wrapper.no-content {
				    width: 65%;
				    margin: 25px auto;
				    background-color: $black;
				    padding: 80px 0 80px 35px;
				    
				    h1 {
					    color: $white;
					    font-weight: bold;
					    text-transform: uppercase;
					    letter-spacing: 3px;
					    font-size: 65px;
					    margin: 0;
				    }
				    .page-content {
					    margin-top: -15px;
					    
					    p {
						    color: $white;
						    padding-left: 35px;
						    font-weight: 300;
						    letter-spacing: 1px;
						    
						    .search_trigger {
							    font-weight: 700;
							    font-style: italic;
							    cursor: pointer;
						    }
					    }
				    }
			}
		
		
			  /////////////////
			 //  HAS POSTS  //
			/////////////////
			article.news-post {
				width: $article_width;
				height: 0;
				margin: 25px auto;
				background-color: $black;
				overflow: hidden;
				padding-bottom: 24.25%;
				position: relative;
				box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
				@include easeout(1000ms);
				opacity: 1;
				@include prefix(transform, translateY(0px));
				
				&.waypoint {
					@include prefix(transform, translateY(40px));
					opacity: 0;
					
					.post-content {
						.post-title {
							h2 {
								@include prefix(transform, translateY(25px));
							}
/*
							&.dash-title:after {
								@include prefix(transform, skew(-24deg) scaleY(0) !important);
							}
*/
						}
						.post-meta {
							.date {
								@include prefix(transform, translateY(25px));
							}
							span.expand {
								@include prefix(transform, translateY(35px));
								opacity: 0;
							}
						}
					}
				}

				a.post-link {
					text-decoration: none;
					
					// Post Content
				
					.post-content {	
						@include calc(width, "100% - 100px");
						margin: 60px auto 0;
						position: relative;
						z-index: 99;	
						@include flexbox(flex-start,space-between);	
						
						h2,.date,span {
							@include prefix(transform, translateY(0px));
							@include easeout(1000ms);
						}
						
						.post-title {
							@include max-content(width);
							max-width: 50%;
							position: relative;
							h2 {
								margin: 0;
								color: $white;
								font-size: 48px;
								letter-spacing: 2px;
								font-weight: bold;
								line-height: 45px;
								text-decoration: none;
							}
						}
						.post-title.dash-title:after {
							height: 100%;
							top: 7px;
							right: -25px;
							@include prefix(transform, skew(-24deg) scaleY(1));
							@include easeout(1000ms);
							transform-origin: top;
						}
						.post-meta {
							text-align: right;
							.date {
								font-family: $heading-font;
								font-weight: bold;
								color: $white;
								font-size: 24px;
								letter-spacing: 1px;
								line-height: 24px;
								text-decoration: none;
							}
							span {
								text-transform: uppercase;
								text-decoration: none;
								color: $white;
								font-size: 13px;
								letter-spacing: 4.2px;
								font-weight: 500;
								text-decoration: none;
								display: block;
								transition-delay: 100ms;
								opacity: 1;
							}
						}
						
						
					}
					
					// Featured Image
					
					img {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						@include prefix(object-fit, cover);
						z-index: 1;
						backface-visibility: hidden;
						-webkit-backface-visibility: hidden;
					}
					img.top {
						@include prefix(object-position, center top);
					}
					img.bottom {
						@include prefix(object-position, center bottom);
					}
					img.center {
						@include prefix(object-position, center center);
					}
				}
				
				a.post-link:after {
					position: absolute;
					content: "";
					top: 0;
					left: -5%;
					width: 110%;
					height: 100%;
					background: linear-gradient(-180deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.00) 70%);
					z-index: 9;
				}		
			}
		}
	}
}