section.offerings-container {
	a {
		text-decoration: none;
		}
		article.offering {
			$transition_speed: 1000ms;
			width: 100%;
			height: 0;
			padding-bottom: 45vw;
			overflow: hidden;
			position: relative;
			
			&:hover {
				.offering-data {
					.offering-meta {
						h2 {
							span {
								@include prefix(transform, translate(0px));
								opacity: 1;
							}
						}
						p {
							opacity: 1;
							transition-delay: 0.4 * $transition_speed;
						}
					}
					.offering-price {
						&:after {
							@include prefix(transform, skew(-24deg) scaleX(1));
							opacity: 1;
						}
						
						
						.price, span.learn-more {
							opacity: 1;
							transition-delay: 0.8 * $transition_speed;
	
						}
				
					}
					&:after {
						@include prefix(transform, skew(-25deg) scaleY(1) !important);
						visibility: visible !important;
						opacity: 1 !important;
					}
				}
				
			}
			
			.sold_overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				font-size: 70px;
				line-height: 70px;
				color: $mainred;
				padding: 6px 12px 6px 14px;
				border: 9px solid $mainred;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin: auto;
				display: inline-table;
				@include max-content(width);
				@include max-content(height);
				z-index: 9999;
				font-weight: 700;
				@include prefix(transform, rotate(-20deg));
			}
			
			.offering-data {
				z-index: 999;
				position: relative;
				margin-top: 60px;
				@include max-content(width);
				max-width: 46%;
				
				.offering-meta {
					position: relative;
					margin-left: 80px;
					h2 {
						font-size: 48px;
						@include max-content(width);
						color: $white;
						text-transform: uppercase;
						display: table-cell;
						line-height: 45px;
						letter-spacing: 2px;
						
						span {
							display: block;
							@include prefix(transform, translateX(-15px));
							@include easeout($transition_speed);
							opacity: 0;
						}
						
						@for $int from 1 through 3 {
							$decay : 1 - ( 0.15 * ( $int - 1 ) );
							$delay : ( ($int - 1) * 80 ) * $decay;
							span:nth-child(#{$int}){
								transition-delay: #{$delay}ms;
							}
						}
						
					}
					p {
						font-size: 14px;
						color: $white;
						letter-spacing: 1.2px;
						line-height: 18px;
						font-weight: 300;
						margin: 10px 0 0;
						padding-left: 3px;
						opacity: 0;
						max-width: 75%;
						@include easeout($transition_speed);
						transition-delay: 0ms;
					}
				}
				.offering-price {
					$skew_dist : 24deg;
					background-color: transparent;
					@include flexbox(center, space-between);
					padding-left: 3px;
					z-index: 999;
					position: relative;
					padding: 5px 0;
					@include calc(width, "100% + 9px");
					@include prefix(transform, skew(-$skew_dist) );
					margin: 22px 0 0 -9px;
					overflow: hidden;
					@include easeout($transition_speed);
					&:after {
						content: "";
						width: 105%;
						position: absolute;
						height: 100%;
						top: 0;
						right: 0;
						left: -2.5%;
						margin: auto;
						background-color: $white;
						@include prefix(transform, skew(-$skew_dist) scaleX(0));
						transform-origin: right;
						@include easeout($transition_speed);
						z-index: 1;
					}
					.price {
						color: $black;
						font-size: 15x;
						font-family: $heading_font;
						margin-left: 85px;
						font-weight: bold;
						@include skew($skew_dist);
						padding-left: 6px;
						letter-spacing: 0.25px;
						@include easeout($transition_speed);
						opacity: 0;
						transition-delay: 0ms;
						z-index: 9;
						backface-visibility: hidden;
					}
					
					span.learn-more {
						color: $black;
						text-decoration: none;
						font-size: 12px;
						margin-right: 25px;
						@include skew($skew_dist);
						letter-spacing: 1px;
						opacity: 0;
						@include easeout($transition_speed);
						transition-delay: 0ms;
						z-index: 9;
						backface-visibility: hidden;
					}		
				}
			}
			.offering-data.dash-title:after {
				right: 7px;
				bottom: 0;
				top: auto;
				height: 100%;
				width: 2px;
				transform-origin: bottom;
				@include prefix(transform, skew(-24deg) scaleY(0.125));
				@include easeout($transition_speed);
				visibility: hidden;
				opacity: 0;
			}
			.offering-fmedia {
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				top: 0;
				@include prefix(object-fit, cover);
			}
			.offering-fmedia.top {
				@include prefix(object-position, center top);
			}
			.offering-fmedia.bottom {
				@include prefix(object-position, center bottom);
			}
			.offering-fmedia.center {
				@include prefix(object-position, center center);
			}
			.media_wrapper {
				&> img, video {
					z-index: 9;
					opacity: 0;
					@include easeout(700ms);
					
					&.visible {
						opacity: 1;
					}
				}
				.placeholder {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: linear-gradient($altgray 0%, rgba(216,216,216,1) 100%);
					@include flexbox(center,center);
					z-index: 1;
					
					img {
						width: 15%;
						height: auto;
						opacity: 1;
						@include prefix(transform, translateY(0px));
						@include easeout(1500ms);
						
						&.waypoint {
							opacity: 0;
							@include prefix(transform, translateY(35px));
						}
					}
				}
			}
			/*
&:nth-child(even){
				.media_wrapper {
					.placeholder {
						background-color: rgb(216,216,216);
					}
				}
			}
*/
		}
		article.offering a:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 99;
			background-color: $offer_overlay;
			opacity: 0;
			@include transition(0.3s, all, ease-in-out);
		}
		article.offering:hover a:after {
			opacity: 1;
		}
	.loading_notification {
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		color: $black;
		letter-spacing: 2px;
		display: block;
		width: 100%;
		height: 45vw;
		overflow: hidden;
		@include flexbox(center,center);
		background-color: $black;
		position: relative;
		.loading_info {
			.cube_load_container {
				position: relative;
				top: auto;
				left: auto;
				background-color: transparent;
				visibility: visible;
				opacity: 1;
				
			}
		}
		p {
			margin: 15px 0;
			position: relative;
			z-index: 3;
			color: $white;
			font-size: 12px;
		}
		
		&.hidden {
			display: none;
		}
		.image_container	 {
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include prefix(object-fit, cover);
				@include prefix(object-position, center center);
				@include prefix(filter, blur(20px));
				z-index: 1;
				opacity: 0.35;
				
			}
		}
	}
}
section.notify_me_container {
	padding: 160px 0 145px;
	background-color: $black;
	
	.notify_content {
		width: 95%;
		margin: 0 auto;
		max-width: 750px;
		
		h3 {
			font-size: 48px;
			text-align: center;
			line-height: 45px;
			color: $white;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 auto;
		}
		p {
			font-size: 13px;
			text-align: center;
			color: $white;
			font-weight: 300;
			max-width: 45%;
			margin: 10px auto 20px;
		}
		.main-btn {
			display: block;
			@include max-content(width);
			margin: 0 auto;
			cursor: pointer;
			font-weight: 300;
			padding: 10px 30px 10px 33px;
		}
	}
	
	
}