.search_results {
	max-width: 1000px;
	margin: 0 auto;
	padding: 75px 0;
	width: 95%;
	> header {
		
		margin-bottom: 5px;
		h1 {
			margin: 0;
			font-family: $body_font;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1.3px;
			line-height: 24px;
			
			span {
				font-weight: 300;
				text-transform: none;
			}
		}
	}
	article {
		border-bottom: 1px solid $blog_body;
		padding: 30px 0;
		@include flexbox(center,flex-start);
		margin: 0;
		@include easeout(1000ms);
		opacity: 1;
		@include prefix(transform, translateY(0px));
		
		&.waypoint {
			@include prefix(transform, translateY(15px));
			opacity: 0;
			
			.post_archive_link:after {
				@include prefix(transform, scaleX(0) !important);
			}
		}
		
		
		&:nth-of-type(1) {
			border-top: 1px solid $blog_body;
		}
		
		.article_image {
			width: 30%;
			height: 0;
			padding-bottom: 19.1%;
			position: relative;
			
			img {
				position: absolute;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.article_content {
			width: 70%;
			margin-left: 30px;
			padding-right: 20px;
			
			header {
				@include flexbox(center, space-between);
				h2 {
					margin: 0;

					a{
						font-family: $heading_font;
						font-size: 30px;
						letter-spacing: 1px;
						line-height: 38px;
						color: $black;
						text-decoration: none;
					}
				}
				a.post_archive_link {
					text-transform: uppercase;
					font-size: 13px;
					font-weight: 500;
					color: $black;
					position: relative;
					text-decoration: none;
					letter-spacing: 1px;
					&:after {
						content: "";
						width: 97%;
						margin: 0 auto;
						height: 1px;
						display: block;
						background-color: $mainred;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						@include prefix(transform, scaleX(1));
						@include easeout(700ms);
						@include prefix(transition-delay, 200ms);
					}
				}	
			}
			.entry-summary {
				color: $blog_body;
				font-size: 13px;
				font-weight: 300;
				letter-spacing: 0.5px;
				line-height: 19px;
				margin: 0;
				
				a {
					width: 215px;
					text-align: center;
					padding: 7px 0 6px;
					text-transform: uppercase;
					text-decoration: none;
					border: 1px solid $black;
					display: block;
					font-size: 10px;
					letter-spacing: 3px;
					background-color: transparent;
					font-weight: 300;
					@include easeout(600ms);
				}
			}
		}
		
	}	

	.posts-navigation {
		width: 100%;
		
		a {
			border-color: $gray;
			color: $gray;
			
			&:after {
				background-image: url('../inc/images/sharrow.png');
				background-color: $gray;
			}
		}
	}	
}