// First, some variables
$skew_distance : 15deg;


.sub__heading {
	padding: 100px 0;
	
	article {
		@include flexbox(center,space-between);	
		width: 70%;
		margin: 0 auto;
		
	
		.sub__heading-content {
			width: 50%;
			z-index: 9999;
			h2 {
				color: $gray;
				font-size: 36px;
				letter-spacing: 1px;
				font-weight: bold;
				margin: 0 0 5px;
			}
			p {
				font-size: 14px;
				letter-spacing: 0.5px;
				line-height: 30px;
				font-weight: 300;
				margin: 0;
				padding-left: 2px;
			}
		}
		.pgram__container {
			position: relative;
			.pgram__frame {
				height: 350px;
			    width: 280px;
			    background-color: gray;
			    position: relative;
			    transform: skew(-$skew_distance);
			    overflow: hidden;
			    margin: 0 auto;
			    z-index: 99;
				
				.pgram__image {
					// decide on appropriate width setting and position setting options
					height: 100%;
				    position: absolute;
				    top: 0;
				    display: block;
				    max-width: none;
				    width: auto;
				}
				// classes are dynamically generated in the wp dashboard to allow the pgram image to be framed differently. we control those classes here
				.pgram__image.right {
					right: 0;
					@include translate_skew(47px,0,0,$skew_distance);
				}
				.pgram__image.left {
				    left: 0;
					@include translate_skew(-47px,0,0,$skew_distance);
				}
				.pgram__image.center {
					left: 0;
					@include translate_skew(-25%,0,0,$skew_distance);
				}
			}
		}
		
		.pgram__container::after {
			content: "";
			height: 80%;
			width: 70%;
			position: absolute;
			bottom: -22px;
			background-color: $overlay_g;
			transform: skew(-$skew_distance);
			left: -35%;
			z-index: 1;
		}
		.pgram__container::before {
			content: "";
			height: 80%;
			width: 70%;
			position: absolute;
			top: -22px;
			background-color: $overlay_g;
			transform: skew(-$skew_distance);
			right: -35%;
			z-index: 1;
		}
	}
}

.sub__heading.right {
	article {
		flex-direction: row;
	}
	.pgram__container {
		@include translate(-50px,0,0);
	}
}
.sub__heading.left {
	article {
		flex-direction: row-reverse;
	}
	.pgram__container {
		@include translate(50px,0,0);
	}
}