// First, some variables
$skew_distance : 15deg;


.sub__heading {
	padding: 100px 0;
	
	article {
		@include flexbox(center,space-between);	
		width: 70%;
		margin: 0 auto;
		
	
		.sub__heading-content {
			width: 50%;
			z-index: 9999;
			opacity: 1;
			* {
				@include easeout(1000ms);
				@include prefix(transform, translateY(0px));

			}
			h2 {
				color: $gray;
				font-size: 36px;
				letter-spacing: 1px;
				font-weight: bold;
				margin: 0 0 5px;
				opacity: 1;
			}
			p {
				font-size: 14px;
				letter-spacing: 0.5px;
				line-height: 30px;
				font-weight: 300;
				margin: 0;
				padding-left: 2px;
				opacity: 1;
			}
			a {
				display: inline-block;
				margin-top: 20px;
				opacity: 1;
				
				&:after {
					@include prefix(transform, translateY(0px) scaleY(1));
				}
				
				&.waypoint:after {
					@include prefix(transform, translateY(0px) scaleY(0));
				}
			}
			&.waypoint {
				h2 {
					@include prefix(transform, translateY(15px));
					opacity: 0;
				}
				p {
					@include prefix(transform, translateY(30px));
					opacity: 0;
				}
			}
		}
		.pgram__container {
			position: relative;
			opacity: 1;
			@include easeout(1000ms);
			.pgram__frame {
				height: 350px;
			    width: 280px;
			    position: relative;
			    transform: skew(-$skew_distance);
			    overflow: hidden;
			    margin: 0 auto;
			    z-index: 99;
			    background-color: transparent;
				
				.pgram__image {
					// decide on appropriate width setting and position setting options
					height: 100%;
				    position: absolute;
				    top: 0;
				    display: block;
				    max-width: none;
				    width: auto;
				}
				// classes are dynamically generated in the wp dashboard to allow the pgram image to be framed differently. we control those classes here
				.pgram__image.right {
					right: 0;
					@include translate_skew(47px,0,0,$skew_distance);
				}
				.pgram__image.left {
				    left: 0;
					@include translate_skew(-47px,0,0,$skew_distance);
				}
				.pgram__image.center {
					left: 0;
					@include translate_skew(-25%,0,0,$skew_distance);
				}
			}
			
			&.waypoint {
				opacity: 0;
				&::before {
					@include prefix(transform, skew(-$skew_distance) translateX(-70px));
				}
				&::after {
					@include prefix(transform, skew(-$skew_distance) translateX(70px));
				}
			}
		}
		
		
		.pgram__container::before, .pgram__container::after {
			content: "";
			height: 80%;
			width: 70%;
			position: absolute;
			background-color: $overlay_g;
			@include prefix(transform, skew(-$skew_distance) translateX(0px));
			z-index: 1;
			@include easeout(1000ms);
		}
		.pgram__container::after {
			bottom: -22px;
			left: -35%;			
		}
		.pgram__container::before {
			top: -22px;
			right: -35%;
		}
	}
}

.sub__heading.right {
	article {
		flex-direction: row;
	}
	.pgram__container {
		@include translate(-50px,0,0);
	}
}
.sub__heading.left {
	article {
		flex-direction: row-reverse;
	}
	.pgram__container {
		@include translate(50px,0,0);
	}
}