#adminmenumain li.menu-icon-offerings .wp-menu-image:before {
  font-family: 'fontawesome';
  content: "\f1b9";
  font-size: 17px; }

#adminmenumain li.menu-icon-collection .wp-menu-image:before {
  font-family: 'fontawesome';
  content: "\f207";
  font-size: 19px; }

#adminmenumain li.menu-icon-specialists .wp-menu-image:before {
  font-family: 'fontawesome';
  content: "\f007";
  font-size: 19px; }

#adminmenumain li.menu-icon-lbi_media .wp-menu-image:before {
  font-family: 'fontawesome';
  content: "\f03d";
  font-size: 17px; }
