/*************************************
  - - - - - - - VARIABLES - - - - - - -
**************************************/
/*************************************
  - - - - - - - FONT FACES - - - - - - 
**************************************/
@import url("../inc/fonts/stylesheet.css");
@import url("../inc/css/font-awesome.min.css");
/*************************************
  - - - - - - COLOR PALETTE - - - - - 
**************************************/
/*************************************
  - - - - - - MISC VARIALBES - - - - - 
**************************************/
/*************************************
  - - - - - - - - MIXINS - - - - - - - 
**************************************/
/*************************************
  - - - - - - - M I S C - - - - - - -
**************************************/
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }

body {
  background-color: #191B1C; }

div, p, a, input {
  font-family: "open_sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "heading", serif; }

.dash-title::after {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -ms-transform: rotate(114deg);
  /* IE 9 */
  -webkit-transform: rotate(114deg);
  /* Chrome, Safari, Opera */
  -moz-transform: rotate(114deg);
  /* Mozilla ? */
  transform: rotate(114deg);
  right: -270px;
  top: 0;
  transform-origin: left; }

/*************************************
  - - - - - - - MODULES - - - - - - -
**************************************/
.site-footer .featured-posts {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }
  .site-footer .featured-posts .feature {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    text-decoration: none;
    padding: 48px;
    height: 0;
    padding-bottom: 472px; }
    .site-footer .featured-posts .feature .content-wrapper {
      position: relative;
      width: max-content;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: -moz-fit-content; }
      .site-footer .featured-posts .feature .content-wrapper div {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase; }
      .site-footer .featured-posts .feature .content-wrapper div.featured-heading {
        font-family: "heading", serif;
        font-size: 48px;
        line-height: 45px;
        letter-spacing: 2px;
        font-weight: bold;
        display: table-caption; }
      .site-footer .featured-posts .feature .content-wrapper div.featured-link {
        font-family: "open_sans", sans-serif;
        letter-spacing: 4px;
        font-size: 13px;
        padding-left: 2px;
        font-weight: 400;
        width: max-content;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: -moz-fit-content;
        margin-top: 2px; }

.site-footer .newsletter-cta {
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 180px 0 220px;
  text-align: center; }
  .site-footer .newsletter-cta h3 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin: 0; }
  .site-footer .newsletter-cta p {
    font-size: 13px;
    color: #fff;
    margin: 0;
    font-weight: 300;
    margin: 5px 0 30px; }
  .site-footer .newsletter-cta form label {
    visibility: hidden;
    display: none; }
  .site-footer .newsletter-cta form input[type="email"] {
    background-color: #191B1C;
    border-radius: 0px;
    border: none;
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin: 0;
    padding: 12px 3px;
    width: 325px; }
  .site-footer .newsletter-cta form div.sumbit-btn {
    background-image: url("../inc/images/sharrow.png");
    height: 43px;
    width: 43px;
    background-color: #962F32;
    background-size: 35%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
    -webkit-transition: 0.25s all ease-in-out;
    -moz-transition: 0.25s all ease-in-out;
    -ms-transition: 0.25s all ease-in-out;
    -o-transition: 0.25s all ease-in-out; }
  .site-footer .newsletter-cta form div.submit-btn:hover {
    background-color: #A82F32; }
  .site-footer .newsletter-cta form div.form-wrap {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    margin: 0 auto; }

.site-footer .footer-meta {
  background-color: #191B1C;
  padding: 40px 0; }
  .site-footer .footer-meta .container {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #464647;
    text-decoration: none; }
    .site-footer .footer-meta .container a {
      color: #464647;
      text-decoration: none;
      transition: 0.25s all ease-in-out;
      -webkit-transition: 0.25s all ease-in-out;
      -moz-transition: 0.25s all ease-in-out;
      -ms-transition: 0.25s all ease-in-out;
      -o-transition: 0.25s all ease-in-out; }
    .site-footer .footer-meta .container a:hover {
      color: rgba(216, 216, 216, 0.49); }
    .site-footer .footer-meta .container .socials a {
      font-size: 20px;
      margin: 0 12px; }
    .site-footer .footer-meta .container .socials a:last-child {
      margin-right: 0; }

/*************************************
  - - - - - - TEMPLATES - - - - - - -
**************************************/
.clipthis {
  mask: url("../inc/images/subheading_mask.jpg") center center/cover;
  -webkit-mask: url("../inc/images/subheading_mask.jpg") center center/cover; }
